* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px
  background-color = #72e5ff;
  font-family: Arial;
}

h2{
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}
